<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ALL_LEGIT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ALL_LEGIT.Properties.Settings>
            <setting name="ApiNAME" serializeAs="String">
                <value />
            </setting>
            <setting name="ApiKEY" serializeAs="String">
                <value />
            </setting>
            <setting name="DownloadDir" serializeAs="String">
                <value />
            </setting>
            <setting name="RemDL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RemCP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TopMost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ZipPWS" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoExtract" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HotKey" serializeAs="String">
                <value />
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
            <setting name="HotKeyKeyData" serializeAs="String">
                <value>Ctrl+Oemtilde</value>
            </setting>
            <setting name="AutoDL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoOverwrite" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Min2Tray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Close2Tray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DelZips" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisableNotifies" serializeAs="String">
                <value>False</value>
            </setting>
        </ALL_LEGIT.Properties.Settings>
    </userSettings>
</configuration>